@model UserInfo

<div class="page-container">
	@if (@Model == null)
	{
		<p>There was an error, model is null.</p>
	}
	else
	{
		<div class="box-element">
			<form asp-controller="Auth" asp-action="UserEdits">
				@*<input asp-for="ID" value="@ViewBag.ID" hidden/>*@
				<span class="validation-error form-element" asp-validation-for="UserName"></span>
				<div class="row row-between">
					<label class="form-element" asp-for="UserName"></label>
					<input class="form-element" asp-for="UserName" />
				</div>
				<span class="validation-error form-element" asp-validation-for="Age"></span>
				<div class="row row-between">
					<label class="form-element" asp-for="Age"></label>
					<input class="form-element" asp-for="Age" />
				</div>
				<span class="validation-error form-element" asp-validation-for="Location"></span>
				<div class="row row-between">
					<label class="form-element" asp-for="Location"></label>
					<input class="form-element" asp-for="Location" />
				</div>
				<span class="validation-error form-element" asp-validation-for="Image"></span>
				<div class="row row-between">
					<label class="form-element" asp-for="Image"></label>
					<input class="form-element" asp-for="Image" />
				</div>
				<span asp-validation-for="Description"></span>
				<div class="row row-between">
					<label class="form-element" asp-for="Description"></label>
					<textarea class="form-element" asp-for="Description"></textarea>
				</div>
				<div class="row row-center">
					<button class="button" type="Submit">Update Profile</button>
				</div>
			</form>
		</div>
	}
</div>