@model UserInfo

@if (@Model == null)
{
	<p>There was an error, model is null.</p>
}
else
{
	<h1>Here you can edit a user.</h1>
	<form asp-controller="Auth" asp-action="UserEdits">
		@*<input asp-for="ID" value="@ViewBag.ID" hidden/>*@
		<span asp-validation-for="UserName"></span>
		<label asp-for="UserName"></label>
		<input asp-for="UserName" />
		<span asp-validation-for="Age"></span>
		<label asp-for="Age"></label>
		<input asp-for="Age" />
		<span asp-validation-for="Location"></span>
		<label asp-for="Location"></label>
		<input asp-for="Location" />
		<span asp-validation-for="Image"></span>
		<label asp-for="Image"></label>
		<input asp-for="Image" />
		<span asp-validation-for="Description"></span>
		<label asp-for="Description"></label>
		<input asp-for="Description">
		<button type="Submit">Update Profile</button>
	</form>
}