@model SearchViewModel

<div class="page-container">
	<form class="box-element" asp-controller="Auth" asp-action="Search" method="post">
		<div class="row">
			@*<label asp-for="SearchTerm"></label>*@
			<input asp-for="SearchTerm" placeholder="Username" class="form-element" />
			<select asp-for="Condition.FilterCondition" asp-items="Html.GetEnumSelectList<FilterCondition>()" class="form-element"></select>
			@*<label asp-for="Condition.FloatCondition.Comparator"></label>*@
			<select class="form-element" asp-for="Condition.FloatCondition.Comparator" asp-items="Html.GetEnumSelectList<FloatCondition.FloatConditionType>()"></select>
			@*<label asp-for="Condition.FloatCondition.ComparisonValue"></label>*@
			<input class="form-element" asp-for="Condition.FloatCondition.ComparisonValue" />
			<button class="button" type="submit">Search</button>
		</div>
	</form>

	<div class="box-element">
		@if (Model == null)
		{
			<p>Try searching for a user.</p>

		}
		else if (Model.Results.Count() == 0)
		{
			<p>There were no results for the search.</p>
		}
		else
		{
			foreach (UserInfo userInfo in Model.Results)
			{
				<partial name="_User" for="@userInfo" />
			}
		}
	</div>
</div>