@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - HappySocial</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
	<header>
		@*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">*@
		<nav id="navigation">
			@*<div class="container">*@
			@*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Home">Social Media Site</a>*@
			@*				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>*@
			@*<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">*@
			<a class="button" asp-area="" asp-controller="Home" asp-action="Home">Home</a>
			<a class="button" asp-area="" asp-controller="Home" asp-action="About">About</a>
			@if (SignInManager.IsSignedIn(User))
			{
				<a class="button" asp-area="" asp-controller="Auth" asp-action="Search">Search Users</a>
				<a class="button" asp-controller="Auth" asp-action="UserInfo">My page</a>
				<p class="button" id="btn-show-account-buttons" asp-controller="">Your Account</p>
				<div id="account-buttons">
					<a class="button" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Manage Account</a>
					<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("LoggedOut", "Home", new { area = "" })">
						<button type="submit" class="button">Logout</button>
					</form>
				</div>
			}
			else
			{
				<a class="button" asp-area="Identity" asp-page="/Account/Register">Register</a>
				<a class="button" asp-area="Identity" asp-page="/Account/Login">Login</a>

			}
			@*<partial name="_LoginPartial" />*@
			@*</div>*@
			@*</div>*@
		</nav>
	</header>

	<div class="">
		<main role="main" class="">
			@RenderBody()
		</main>
	</div>

	<footer class="page-container">
		<div class="box-element">
			<div class="row row-center" id="footer-stuff">
				&copy; 2022 - SocialMediaSite -   <a asp-area="" asp-controller="Home" asp-action="About">About</a>
			</div>
		</div>
	</footer>
	@*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
	@*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
