<div class="page-container">
	<h1>About Me!</h1>
	<div class="row row-center">
		<div class="profile-image-space">
			<img src="/images/william1.jpg" class="profile-image"/>
		</div>
		<div class="box-element profile-bio" >
			<p>Hi, I'm William and I made this website.<br />
				I'm currently attending Neumont College of Computer Science and pursuing a Bachelors of Science in 
				Software and Game Development. I live in Brigham City with my beautiful wife Jenisha. I'm currently
			in my second year at Neumont (cohort 36).</p>
		</div>

	</div>
</div>