@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="page-container">
	<h1>Welcome to HappySocial!</h1>
	<div class="home-images">
		<img class="home-image" src="/images/blue_sky.jpg" />
		<img class="home-image" src="/images/flower_girl.jpg" />
		<img class="home-image" src="/images/happy_jump.jpg" />
	</div>
</div>